<div class="container">
    <h1>Disciplinas</h1>
    <hr />

    <input type="text" [(ngModel)]="filtro" placeholder="Buscar disciplina..." />
    <button (click)="cadastrar()">Cadastrar nova disciplina</button>
    <ul>
        <li *ngFor="let disciplina of disciplinasFiltradas" (click)="selecionar(disciplina)">
            <p [class.selecionado]="selecionado?.nome === disciplina.nome">{{ disciplina.nome }}</p>
            <button (click)="excluir(disciplina); $event.stopPropagation()">Excluir</button>
            <button (click)="editar(disciplina); $event.stopPropagation()">Editar</button>
            <p *ngIf="selecionado?.nome === disciplina.nome">{{ disciplina.descricao }}</p>
        </li>
    </ul>
</div>