.selecionado {
    font-weight: bold;
}

p.titulo {
    cursor: pointer;
    font-size: 12pt;
}

p.titulo:hover {
    font-weight: bold;
}

p.descricao {
    font-size: 10pt;
}

body {
    background-color: black;
}