<div class="container">
    <h2>Cadastrar</h2>
    <p>Use este formulário para cadastrar ou editar uma disciplina.</p>

    <hr />
    <form #cadastro="ngForm" (submit)="salvar()">

        <div>
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" [(ngModel)]="nome" placeholder="Nome da disciplina...">
        </div>
        <div>
            <label for="descricao">Descrição</label><br>
            <input type="text" id="descricao" name="descricao" [(ngModel)]="descricao"
                placeholder="Descrição da disciplina...">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
            Salvar
        </button>
        <button type="reset" (click)="cancelar()">Cancelar</button>
    </form>
</div>